$black: #000000;
$white: #ffffff;
$pink: #ddb8af;
$dark-pink: #e4d3c;
$deep-dark-pink: #876160;
$dark-grey-opacity: rgba(179, 179, 179, 0.9);
$blue-opacity: rgba(91, 131, 193, 0.5);
$blue-opacity-main :rgba(55, 95, 157, 0.5);
$dark-blue: #3d4abc;
$dark-blue-main: #0c3270;
$grey: #f7f7f7;
$grey-middle: #6f6f6f;
$grey-light: #f4f4f4;

$grid-width: 1320px;
$max-width: 1440px;
$grid-width-2: calc(100vw - 8.332%);
$side-width: 190px;
$min-side-width: 120px;
$input-width: 81%;
$input-width-lg: 85%;
$label-width: 120px;
$label-width-720: 85px;
$width-btn-oval: 465px;
$width-btn-oval-720: 337.81px;
$max-width-label: calc(#{$width-btn-oval} + #{$label-width});
$max-width-label-720: calc(#{$width-btn-oval-720} + #{$label-width-720});
$header-height: 107px;
$header-logo-height: calc(#{$header-height} - 10px);
$section-header-height: 50px;
$section-top-height: calc(100vh - #{$header-height});
$bg-image-padding-left: 60px;
$bg-image-width: calc(100% - #{$bg-image-padding-left});
$margin-left-footer: 50px;

$font-sharp: "Samsung Sharp", sans-serif;
$font-sharp-bold: "Samsung Sharp Bold", sans-serif;
$font-one: "Samsung One", sans-serif;
$font-one-c: "Samsung One C", sans-serif;